<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS Todo-list Application</title>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.min.js"></script>
    <script src="js/mainApp.js" ></script>
    <link rel="stylesheet" href="css/style.css"></link>
  </head>

  <body ng-app="mainApp" ng-controller="MainController">
    <div class="todoApp">

      <div class="submit">
        <table>
          <tr>
            <form ng-submit="submit()">
              <td>
                <input type="checkbox" ng-click="toggleAll()" ng-model="isAllSelected">
                <input type="text" autofocus="autofocus" placeholder="Add new to do item" ng-model="item.content" required="string">
              </td>
              <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/> <!-- hidden button -->
            </form>
          </tr>
        </table>
      </div>

      <table class="items">
        <tr ng-repeat="item in list track by $index" ng-if="toShow == 'ALL' 
          || (toShow == 'ACTIVE' && !item.completed) || (toShow == 'COMPLETED' && item.completed)">
          <td>
            <label ng-cloak data-ng-class="item.completed && 'strikethrough' || 'null'">
              <input type="checkbox" ng-model="item.completed" ng-change="itemToggled()">
              {{item.content}}</label>
            <button class="delBtn" ng-click="remove($index)">x</button>
          </td>
        </tr>
      </table>

      <table ng-if="list.length > 0">
        <tr class="filter">
          <td>
            <button class="button" ng-click="show('ALL')">All</button>
            <button class="button" ng-click="show('ACTIVE')">Active</button>
            <button class="button" ng-click="show('COMPLETED')">Completed</button>
          </td>
        </tr>
        <tr class="footer">
          <td>
            <span style="color:grey;">Items in list: {{ list.length }}</span>
            <button class="button" id="clearBtn" ng-click="removeCompleted()">Clear completed</button>
          </td>
        </tr>
      </table>

    </div>
  </body>
</html>
